/OcelotApi/bin
/OcelotApi/obj
/OcelotGateway/bin
/OcelotGateway/obj
/OcelotOrderApi/bin
/OcelotOrderApi/obj
/.vs
/ConsulDemo/bin
/ConsulDemo/obj
/ClientDemo/bin
/ClientDemo/obj
/GrpcService1/bin
/GrpcService1/obj
